{
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "presets": [
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "> 5% in FR"
              ]
            },
            "modules": false,
            "forceAllTransforms": true
          }
        ]
      ]
    }
  }
}